.list-container {
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;

    .filter-form {
        width: 100%;

        input {
            width: 99%;
            height: 30px;
            margin-bottom: 10px;
        }
    }
}